* {
    background-color: rgb(255, 242, 127);
}



.scroll {
    border: 3px solid red;
    width: 80px;
    height: 80px;
    margin-top: 500px;
    margin-left: 1250px;
    position: fixed;
    background-color: aqua;

}

.scroll1 {
    border: 3px solid rgb(47, 0, 255);
    width: 80px;
    height: 80px;
    margin-top: 300px;
    margin-left: 150px;
    position: sticky;
    top: 50px;

}
